@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --light-grey: #d4d4d4;
  --dark-grey: #555555;
  --bg-color: greenyellow;
  --greenyellow: greenyellow;
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @include flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  height: 30rem;
  width: 30rem;
  background: var(--dark-grey);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.title {
  color: var(--greenyellow);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
  padding-top: 2rem;
  text-transform: uppercase;
}

.chess_row{
    margin-top: 3rem;
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
}